# Dependencies
node_modules/
package-lock.json
yarn.lock

# Database
*.db
*.db-journal

# Environment
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# Build
dist/
build/
*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db



# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
